<% provide(:title, "Listar todos") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %> |</td>
            <td><%= user.email %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </h1>
    </section>
  </aside>
</div>